<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aries.smart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.aries.smart.App"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.aries.smart.SplashActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc"
            android:screenOrientation="portrait"
            android:theme="@style/NormalSplash">

            <!-- TODO 测试用 -->
   <!--         <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>

        <activity
            android:name="com.aries.smart.MainActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <activity
            android:name=".WebAppActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait"
            android:hardwareAccelerated="true"
            />
        <activity
            android:name=".module.mine.CancelAccountActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.CancelAccountActivity2"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.AboutUsActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.RealNameAuthenticationActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.ChangeLoginPasswordActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.ChangeLoginPasswordActivity2"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.ChangePhoneNumberActivity2"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.ChangePhoneNumberActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.AccountSecurityActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.MyWarehouseActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.quest.InvitationPosterActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.quest.InviteActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.SettingActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.RankActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.PersonalImageActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.LoginActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.mine.MedalAchievementActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.SignInActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.SignUpActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.FindPasswordStep1Activity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.FindPasswordStep2Activity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".module.login.FindPasswordStep3Activity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:screenOrientation="portrait" /> <!-- 应用内浏览器 -->
        <activity
            android:name="com.aries.smart.WebViewActivity"
            android:configChanges="locale|layoutDirection|mcc|mnc|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:label="@string/fast_loading"
            android:screenOrientation="portrait" />
    </application>

</manifest>